$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1140px;
$container-sm: 570px;
$container-md: 750px;
$container-lg: 990px;
$container-xl: 1170px;

@mixin break-point($size) {
  @if $size == xxl {
    @media (min-width: $screen-xxl) {
      @content;
    }
  }
}

@mixin hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin pseudo($content: '', $position: absolute, $display: block) {
  content: $content;
  display: $display;
  position: $position;
}

@mixin placeholder {
  &::placeholder {
    @content;
  }
}

@mixin placeholder-hidden {
  &::placeholder {
    color: transparent;
  }
}

@mixin border-8bit($width, $color) {
  box-shadow:
    $width 0 $color,
    -$width 0 $color,
    0 (-$width) $color,
    0 $width $color;
}
