@use '../../../styles/mixins';

.button {
  $this: &;

  font-family: var(--font-family-plexmix);
  background: var(--color-blue-secondary);
  color: var(--color-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 8px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: all var(--transition-time);
  @include mixins.border-8bit(4px, var(--color-blue-thirdy));

  @include mixins.break-point(xxl) {
    padding: 11px 18px;
    font-size: 18px;
    line-height: 27px;
    @include mixins.border-8bit(6px, var(--color-blue-thirdy));
  }

  &:active,
  &:hover {
    background-color: var(--color-purple);
    color: var(--color-blue-secondary);
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
