@use "../../../../styles/mixins";

.invite {
  &__text {
    color: rgba(var(--color-white-rgb), 0.6);
    margin-top: 35px;

    @include mixins.break-point(xxl) {
      margin-top: 44px;
    }
  }

  &__form {
    display: grid;
    row-gap: 25px;
    margin-top: 25px;

    @include mixins.break-point(xxl) {
      row-gap: 32px;
      margin-top: 48px;
    }
  }
}
